*.d
*.o
tester/t?
tester/read-dump-grammar
tester/compile-grammar
tester/read-grammar-trie
tester/read-dump-lexicon
tester/regex-tester
tester/compile-lexicon
tester/callgrind.*
tester/usa.gmr
test/*-test
.*.swp
